@import "tailwindcss";

@theme inline {

  
  --font-sora: var(--font-sora);
  --font-poppins: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sora);
}

a,
button,
div,
span,
p {
  font-family: var(--font-poppins);
}
